@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  @apply bg-gray-100 text-gray-900;
}

.container {
  @apply max-w-6xl mx-auto p-6;
}

button {
  @apply transition duration-200 ease-in-out;
}
